<html>
  <head>
    <link href=".\static\style.css" rel="stylesheet">
    {% if title %}
    <title>{{ title }} - Галерея</title>
    {% else %}
    <title>Добро пожаловать в Галерею!</title>
    {% endif %}
    </head>
    <body>
      <table class="main">
        <tr>
          <td class="menu">
            <div><a href="{{url_for('index')}}">Главная</a></div>
            <div><a href="{{url_for('scan_page')}}">Просканировать</a></div>
            <div><a href="{{url_for('tags')}}">Работа с тэгами</a></div>
            {% if (len.to_view + len.new) > 0 %}
            <div><a href="{{url_for('next_page')}}">Отметить фото <b>{{ len.to_view + len.new }}</b> </a></div>
             {% endif %}
            {% if len.search > 0 %}
            <div><a href="{{url_for('next_page', list='search')}}">Результаты поиска <b>{{ len.search }}</b> </a></div>
            <div><a href="{{url_for('search')}}">Результаты поиска (все)</b> </a></div>
            <div><a href="{{url_for('export')}}">Скачать архив</b> </a></div>
             {% endif %}
            <hr>
            {% block tagform %}{% endblock %}
          </td>
          <td>
            {% block content %}{% endblock %}
          </td>
        </tr>
      </table>
    </body>
</html>