{% extends "very_base.html" %}

{% set confs = (len.to_delete|default(0) + len.moved|default(0) + len.changed|default(0))|string %}
{% set views = len.to_view|default(0)|string %}

{% set navigation_bar = [
    ('index', 'Главная'),
    ('scan', 'Просканировать'),
    ('view', 'Отметить фото: ' + views),
    ('problems', 'Разрешение конфликтов: ' + confs)
] -%}

{% block base %}
    <header>
        Галерея
    </header>
    <ul id="navigation">
        {% for id, caption in navigation_bar %}
            <li>
                <a {% if id == active_page %} class="active"{% endif %} href="{{ url_for(id) }}">{{ caption|e }}</a>
            </li>
        {% endfor %}
    </ul>
    <div id="wrapper">
        <section>
            {% block content %}{% endblock %}
        </section>
    </div>
    <footer>
        (c) Sony 2020
    </footer>
{% endblock %}
