{% extends "with_search.html" %}
{% set active_page = "index" -%}
{% block content %}
    <div class="half-width-wrapper">
        <div class="pads full-width">
            <h1>Привет!</h1>
            Долго думал, чего написать на главной странице - почему бы не инструкцию? 😊 <br />
            Для начала нужно выбрать директорию с фотографиями. Сейчас это <tt> {{ dir }}</tt> <br />
            К сожалению, из соображений безопасности - я не могу сделать удобную форму для изменения директории - в
            таком случае любой, кто получил бы доступ к этой странице смог бы просканировать любую директорию Вашего
            компьютера. Поэтому придётся править файл <tt>config.py</tt> вручную 😊. Выглядеть он должен примерно так:

            <pre>
active_config = {
    "location": "D:\\Фотографии\\",
    "data_file": "data.json"
}</pre>
            Разумеется Вы всегда можете найти его на гитхабе: <a href="https://github.com/Sony541/gallery"> https://github.com/Sony541/gallery</a>
            <br />
            Как только вы решите, что с конфигом всё в порядке <b>(не забудьте перезапустить приложение)</b>- переходите по ссылке "Просканировать".



        </div>
    </div>
{% endblock %}