{% extends "with_search.html" %}

{% block content %}

  <h2> Успешно! </h2>
  <div> <a href="#old"> В старом файле: <b>{{len.old}}</b> </a> </div>
  <div> <a href="#new"> Найдено новых: <b>{{len.new}}</b></a> </div>
  <div> <a href="#to_delete"> Утеряно старых: <b>{{len.to_delete}}</b></a> </div>
  <div> <a href="#to_view"> Без тэгов (не новые): <b>{{len.to_view}}</b></a> </div>
  
  <div> <a name="new"> Найдено новых: </a> </div>
  {% for photo in cache.new %}
    <a href="{{  url_for('view', photo=photo) }}"> {{photo}} </a> <br>
  {% endfor %}
  
  <div> <a name="to_delete"> Утеряно старых: </a> </div>
  {% for photo in cache.to_delete %}
    <a href="{{  url_for('view', photo=photo) }}"> {{photo}} </a> <br>
  {% endfor %}
  
  <div> <a name="to_view"> Без тэгов (не новые): </a> </div>
  {% for photo in cache.to_view %}
    <a href="{{  url_for('view', photo=photo) }}"> {{photo}} </a> <br>
  {% endfor %}
  
  <div> <a name="old"> В старом файле: </a> </div>
  {% for photo in cache.old %}
    <a href="{{  url_for('view', photo=photo) }}"> {{photo}} </a> <br>
  {% endfor %}
  
  
{% endblock %}